body, html {
    height: 100%;
    margin: 0;
    font-size: 34px;
    font-family: 'Metamorphous', cursive;

}

.bg { 
    /* The image used */
    background-image: url("../images/theShard.gif");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    margin: 0;
    padding: 30px;
    padding-bottom: 400px;
    text-align: center;
    color: rgb(243, 117, 233);
}

.character-image {
    margin-left: 60px;
    width: 400px;
    height: 300px;
}