body, html {
    height: 100%;
    margin: 0;
}

.bg { 
    /* The image used */
    background-image: url("../images/theShard.gif");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    margin: 0;
    padding: 30px;
    text-align: center;
    color: rgb(243, 117, 233);
}

.crystal-image {
    width: 250px;
    height: 250px;
}