body, html {
    height: 100%;
    margin: 0;
    font-size: 34px;
    font-family: 'Metamorphous', cursive;
    text-align: center;
    color: rgb(243, 117, 233);

}

.bg { 
    /* The image used */
    background-image: url("../images/theShard.gif");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    margin: 0;
    padding: 30px;
}

h3 {
    padding-top: 200px;
}

.character-image {
    margin: 0 50px 0 50px;
    width: 350px;
    height: 275px;
}

#reset {
}